<div class="sidebar">
  <div class="container sidebar-sticky">
    
    <p class="aligncenter">
      <figure class="fig" >
        <img class= "rounded-corners" src="george.png" style="max-width: 150px;"/>
      </figure>
    </p>
    
    
    
    <div class="sidebar-about">
      <h1>
        <p>
          {{ site.title }}
        </p>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <h2>{{ site.pages.samplelist.docs_list_title }}</h2>
<ul>
   {% for item in site.pages.samplelist.docs %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
   {% endfor %}
</ul>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="index.html">About</a>
      <a class="sidebar-nav-item" href="publications.html">Publications</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Teaching</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Projects</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Source Code/Data</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Contact</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
