<div class="sidebar">
  <div class="container sidebar-sticky">
    
    <p class="aligncenter">
      <figure class="fig" >
        <img class= "rounded-corners" src="george.png" style="max-width: 150px;"/>
      </figure>
    </p>
    
    
    
    <div class="sidebar-about">
      <h1>
        <p>
          {{ site.title }}
        </p>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>


          <a class="sidebar-nav-item" href="{{site.baseurl}}{% link about.md %}" >About</a>
      <a class="sidebar-nav-item" href="{{site.baseurl}}{% link publications.md %}">Publications</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Teaching</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Projects</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Source Code/Data</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Contact</a> -->
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
